.about__us {
  text-align: center;
  background-color: #1e1e1e;
  color: white;
  margin: 26px 0;
  padding: 20px;

  h1 {
    font-weight: lighter;
  }

  .line {
    width: 200px;
    height: 2px;
    background-color: white;
    margin: 0 auto;
  }

  .card {
    border-radius: 12px;
    background-color: white;
    color: black;
    margin-top: 26px;
    padding: 10px;
  }
}
