.footer {
  background-color: #1e1e1e;
  color: white;
  padding: 20px;

  .wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    * {
      font-weight: lighter;
    }

    .line {
      width: 20px;
      height: 2px;
      background-color: #ffa500;
      margin: 16px 0;
    }

    div {
      width: 100%;
    }

    img {
      width: 100px;
    }

    nav {
      display: grid;
    }

    a {
      color: white;
    }

    hr {
      margin: 16px 0;
    }
  }
}

@media all and (max-width: 600px) {
  .footer .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 500px) {
  .footer .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
