.header {
  height: 500px;
  background-image: url(../../assets/univers_bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

  .search {
    width: 50%;
    display: flex;
    border-radius: 12px;
    background-color: transparent;
    backdrop-filter: blur(5px) brightness(0.5);
    padding: 15px;

    input {
      border: none;
      outline: none;
      padding: 8px;
    }

    input:not(input[type='button']) {
      width: 100%;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    input[type='button'] {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      padding: 0 10px;
    }
  }
}

.configurator {
  display: none; // пока что
}

.univers__wrapper {
  display: grid;
  gap: 30px;
  margin: 26px 0;
}
